<a href="https://colab.research.google.com/github/2bottle/ormi3/blob/main/ormi3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if False:
    print('hello')

In [ ]:
if (True): # 이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [ ]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
if 10:
    print('hello')

hello

In [ ]:
''
0
[]
{}
()
set()

#########

1
-1
' '
[10, 20]

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

# 연습문제

In [ ]:
# 1. 주어진 리스트 `data = [{"name": "길동", "수학": 3, "과학": 93},
#  {"name": "춘향", "수학": 33, "수학": 11},
#  {"name": "철수", "수학": 94, "과학": 67}]`에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

# 2. 주어진 사전 `grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}`의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

# 3. 주어진 문자열 `s = "apple banana apple cherry banana cherry apple"`에서 가장 자주 등장하는 단어를 출력하세요.

In [ ]:
data = [
    {"이름": "길동", "수학": 3, "과학": 93},
    {"이름": "춘향", "수학": 33, "과학": 11},
    {"이름": "철수", "수학": 94, "과학": 67}
]
max_entry = max(data, key=lambda x: x["수학"]+x["과학"])
print(max_entry)
print(max_entry["이름"])

{'이름': '철수', '수학': 94, '과학': 67}

In [ ]:
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
# grades.update({'Tom': grades.get('Tom', 0) + 5})
# grades.update({'Jerry': grades.get('Jerry', 0) + 5})
# grades.update({'Mickey': grades.get('Mickey', 0) + 5})
updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [ ]:
s = "apple banana apple cherry banana cherry apple"
s.split()

['apple', 'banana', 'apple', 'cherry', 'banana', 'cherry', 'apple']

In [ ]:
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
result = Counter(s.split())
result.most_common()
result.most_common(1)

[('apple', 3)]

In [ ]:
s = "apple banana apple cherry banana cherry apple"
words = s.split()
most_frequent_word = max(set(words), key=words.count)
print(most_frequent_word)

apple

In [ ]:
[i if i % 2 == 0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

if f():
    print('hello')

hello

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 10000:
                print('영화시청')

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if 구독중인ott():
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.1 #변경
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if 구독중인ott():
                print('영화시청')

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

Hello

In [ ]:
# 작동하는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

One
Two
Greater than two
Greater than two

In [ ]:
# 문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damege):
    match attack_type:
      case '물리공격' | '마법공격':
          print(f'{damege}의 데미지 입혔습니다')
      case '정신공격' :
          print(f'{damege}ms 만큼 상대방이 혼란을 느낍니다.')

attack('물리공격',100)
attack('마법공격', 200)
attack('정신공격', 300)
# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 물리공격, 마법공격 : '100의 데미지 입혔습니다'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

100의 데미지 입혔습니다
200의 데미지 입혔습니다
300ms 만큼 상대방이 혼란을 느낍니다.

# 반복문

In [ ]:
for x in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {x}입니다.')

현재 값은 h입니다.
현재 값은 e입니다.
현재 값은 l입니다.
현재 값은 l입니다.
현재 값은 o입니다.

In [ ]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x}입니다.')

현재 값은 1입니다.
현재 값은 2입니다.
현재 값은 3입니다.
현재 값은 4입니다.
현재 값은 5입니다.

In [ ]:
# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x7e23f52fa8c0>

In [ ]:
print(next(x))

h

In [ ]:
print(next(x))

e

In [ ]:
print(next(x))

StopIteration: ignored

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k)

하나
둘
셋

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k} : {v}')

하나 : one
둘 : two
셋 : three

In [ ]:
for k in d:
    print(k, ': ', d[k], sep='')

하나: one
둘: two
셋: three

In [ ]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
    result += i
result

# 1부터 100까지 짝수를 더하는 코드
# 권장하지 않는 코드(100번 돌아야 하고, if문도 봐야하고)
result = 0
for i in range(101):
    if i % 2 == 0:
        result += i
result

# 권장하는 코드(물론, 수학수식을 사용할 수 있으면 더 좋습니다.)
# 순회도 반만 돌았고, if문도 없습니다.
result = 0
for i in range(0, 101, 2):
    result += i
result

# 구구단 출력
for i in range(2, 10):
    for j in range(1, 10):
        print(i, j, i*j)

# 홀수들에 특이한 덧셈을 하고 싶습니다.
# 예를 들어, 6이하의 특이한 덧셈을 한다면
# 1 + 3이하의 수 + 5이하의 수...
# 1 + 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 이렇게 답이 나와야 합니다.
result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
result

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

22

In [ ]:
# for는 중첩 2번 해야 합니다.
# 문제1
# 다음과 같은 문자열이 있습니다.
# s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.
s = '135678'
for i in (map(int,s)):
    for j in range(1,10):
        print(f'{i} x {j} = {i*j}')

# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2단, 3단, 6을 출력하고
# 곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.
'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''
l = [2, 3, 6]
for i in l:
    for j in l:
        j+=1
        print(f'{i} x {j} = {i*j}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
2 x 3 = 6
2 x 4 = 8
2 x 7 = 14
3 x 3 = 9
3 x 4 = 12
3 x 7 = 21
6 x 3 = 18
6 x 4 = 24
6 x 7 = 42

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
# 실행시키면 런타임 다시 시작해야 합니다.
# l = [1, 2]
# for i in l:
#     l.append(3)
#     print(i) # 1, 2, 3, 3, 3, 3, 3, 3 ...

s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)

h
hello!
e
hello!!
l
hello!!!
l
hello!!!!
o
hello!!!!!
{'one': '하나', 'one하나': None}

RuntimeError: ignored

In [ ]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>break
>exit
안녕히가세요.

In [ ]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
i = 2
j = 1
while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
x = 0
while x < 10:
    x += 1
    if x == 5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [ ]:
try:
    for i in range(2, 10):
        for j in range(1, 10):
            if i * j > 6:
                raise StopIteration
            print(f'{i} X {j} = {i*j}')
except StopIteration:
    print("Done")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
Done

In [ ]:
# break은 바로 위에 부모만 탈출합니다.
# continue는 아래코드를 실행하지 않고 다음 루프로 넘어갑니다.
# pass는 지나칠 뿐입니다.
# 아래에서 pass는 코드가 애러가 나지 않게만 합니다.
x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
else:
    print('정상 종료')

0
1
2
3
4
정상 종료

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
    if i == 3:
        break
else:
    print('정상 종료')

0
1
2
3

In [ ]:
x = 1
while x < 10:
    print(x)
    x += 1
else:
    print('정상 종료')

1
2
3
4
5
6
7
8
9
정상 종료

In [ ]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상 종료')

1
2
3

In [ ]:
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

In [ ]:
# data[0]
# 문제 1번: 평균 나이를 출력해주세요
# 나이
# list(map(lambda x:x['age'], data))
ages = map(lambda x:x['age'], data)
ages = map(int, ages)
# list(ages) # map은 한번 순회가 돌면 다시 순회가 불가합니다.
# 문제 2번: 남녀 성비를 출력해주세요
gender = list(map(lambda x:x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man/total * 100, woman/total * 100

In [ ]:
class Car: # 차에 설계 도면 또는 차 공장입니다.
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

# 테슬라 공장에서 막 찍혀져 나온 자동차!
# 3대! modelx, y, s!
modelx = Car()
modely = Car()
models = Car()

In [ ]:
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

modelx = Car()

TypeError: ignored

In [ ]:
# 실제 게임 코드
class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격!')

    def defence(self):
        print('방어!')

hero_ironman = Character('아이언맨', '히어로', 100, 100, 100)
villain_thanos = Character('타노스', '빌런', 100, 100, 200)
# 여러 등장인물을 이런식으로 코딩할 수 있습니다.

In [ ]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

('hojun', 'jun')

In [ ]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'